crispy-bootstrap5==2024.10
Django==5.1.7
django-allauth==0.59.0
django-bootstrap5==25.1
django-crispy-forms==2.3
django-widget-tweaks==1.5.0
geopy==2.4.1
Pillow==10.1.0
python-dotenv==1.1.0
psycopg2-binary==2.9.9