/* Variables globales */
:root {
    --primary-color: #F9B72A;
    --hover-color: #fccc64;
}

/* Navigation */
.navbar {
    background-color: #f4f4f4 !important;
    padding: 1rem 0;
}

.navbar-brand, 
.nav-link {
    color: var(--primary-color) !important;
}

.nav-link:hover {
    color: var(--hover-color) !important;
}

.navbar-toggler {
    border-color: white;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.auth-buttons .nav-link {
    border: 2px solid white;
    border-radius: 25px;
    padding: 0.5rem 1.5rem;
    margin: 0 0.5rem;
}

.auth-buttons .register-btn {
    background-color: white;
    color: var(--primary-color) !important;
}

.below-bar {
    background-color: var(--primary-color);
}